body {
    background-color: white;
    margin: 0;
    padding: 0;
    color: black;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-container {
    width: 70vw;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.personal-info {
    background-color: gold;
    width: 20%;
    min-width: 250px;
    text-align: center;
    margin-top: 100px;
    height: 500px;
}

.avatar {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
}

.social-media img {
    width: 25px;
    height: 25px;
}

.course-details {
    width: 79%;
    height: 494px;
    margin-top: 100px;
    border: 3px goldenrod solid;
    border-left: 0px;
}

.detail {
    margin: 20px;
}

.validator {
    position: absolute;
    bottom: 10px;
    right: 10px;
}